{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <h1>Following:</h1>
    <hr>
    {% for user in users.items %}
        <div class="my-3 row">
            <div class="col-md-10">
                <h3>{{ user.username }}</h3>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info">UnFollow</button>
            </div>
        </div>
    {% endfor %}
</div>
{% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
      {% if page_num %}
        {% if users.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('following', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('following', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
{% endfor %}
{% endblock content %}